# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
public/tinymce

# production
/build

# storybook
/storybook-static

# misc
.DS_Store
*.pem

# logs
logs
*.log
pnpm-debug.log*

# local env files
.env
.env*.local

# PWA
public/precache.*.*.js
public/sw.js
public/workbox-*.js
public/worker-*.js
public/fallback-*.js
public/precache.*.*.js.map
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map
public/fallback-*.js

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs and editors
.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
